:host{
    height: 300px;
}

body {
    height: 200px;
    overflow-y: hidden;
    font-family: "Lato", sans-serif;
}

.header {
    justify-content: space-between;
    height: 50px;
    display: flex;
}
.header__img-account {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name__text {
    font-size: 2rem;
}

.name__img-cloud {
    width: 100px;
    height: 100px;
}

.name__img-cloud:hover {
    filter: invert(13%) sepia(95%) saturate(4957%) hue-rotate(357deg) brightness(105%) contrast(116%);;
}